# Ignore everything by default
*

# Allow traversing directories (needed for negation patterns in some setups)
!*/

# Only track these at repo root
!.gitignore
!/part1.ipynb
!/part2.ipynb
!/part3.ipynb
!/part3-better.ipynb